button {
    margin: 7px;
}

#option-cards{
    position: relative;
    box-sizing: border-box;
    float: left;
}

.optionButtons{
    display: flex;
    justify-content: space-around;
}

#reroll{
    width: 16%;
    margin-left: 42%;
    margin-right: 42%
}

.modal-title {
    color: rgb(228, 59, 59);
    font-size: 20px;
}

.form-group {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borderchosen {
    border: 3px solid #0cd808;
    border-radius: 5px;
    box-shadow: 
    0 0 1px #b3ff51, 
    0 0 2px #b3ff51, 
    0 0 6px #b3ff51, 
    0 0 12px #b3ff51, 
    inset 0 0 1px #b3ff51, 
    inset 0 0 2px #b3ff51, 
    inset 0 0 6px #b3ff51, 
    inset 0 0 12px #b3ff51;
  }

  .bordereliminated {
    border: 3px solid #f90000;
    border-radius: 5px;
    box-shadow: 
    0 0 1px #ff1919, 
    0 0 2px #ff1919, 
    0 0 6px #ff1919, 
    0 0 12px #ff1919, 
    inset 0 0 1px #ff1919, 
    inset 0 0 2px #ff1919, 
    inset 0 0 6px #ff1919, 
    inset 0 0 12px #ff1919;
  }

h3{
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
    h3{
        font-size: 15px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px){
   #option-cards{
        margin-left: 70px;
   }

   .headeroptions{
       margin-right: 50px;
   }
}

