button {
    margin: 7px;
}

#option-cards{
    position: relative;
    box-sizing: border-box;
    float: left;
}

.optionButtons{
    display: flex;
    justify-content: space-around;
}

.modal-title {
    color: rgb(228, 59, 59);
    font-size: 20px;
}

.form-group {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
    h3{
        font-size: 15px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px){
   #option-cards{
        margin-left: 70px;
   }

   .headeroptions{
       margin-right: 50px;
   }
}